body{
    max-width: 1160px;
    font-size: 1em;
    margin: auto;
    border-right: 100px solid white;
    border-left: 100px solid white;
    font-family: "Raleway", serif;
}
@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Regular.ttf) format('truetype');
    src: url(../fonts/Lato-Bold.ttf) format('truetype');
    src: url(../fonts/Lato-Italic.ttf) format('truetype');
}
@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-Regular.ttf) format('truetype');
    src: url(../fonts/Raleway-Bold.ttf) format('truetype');
    src: url(../fonts/Raleway-Italic.ttf) format('truetype');
    
}
h1, h2, h3{
    font-family: "Lato", serif;
}
h3{
    color: #17abb3;
}
.stars{
    color: #17abb3;
    font-size: 30px;
    
}
.size{
font-size: 12px;
}
.size2{
    font-size: 20px;
}
header{
    display: flex;
    justify-content: center;
    gap: 400px;
    
}
header, .picture{
    display: flex;
    align-items: center;
}
.picture{
    width: 150px;
    height: 150px;
    
    
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border-color: #e3e3e3;
    border-style: solid;
    margin-left: 100px;
}
header, .contact-infos{
    display: flex;
    justify-content: center;
    
}
.contact-infos, .infos1{
    gap: 30px;
    
}
.name{
    margin-left: 30px;
    font-size: 40px;
}
.infos{
    margin-right: 200px;
}

.space{
    line-height: 1px;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.level{
    display: flex;
    justify-content: end;
}

.date{
    color: #17abb3;
}
.barre1{
    border: rgb(214, 213, 213) 1px solid;
    width: 350px;
}
.barre2{
    border: rgb(214, 213, 213) 1px solid;
    width: 600px;
}
header{
    display:flex;
    background-color: #17abb3;
    color: white;
    
}
.main-content{
    display: flex;
    max-width: 1160px;
}
.left-content{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: #e3e3e3;
    padding: 50px;
}
main{
    display: flex;
    width: 700px;
    flex-direction: column;
    padding: 50px;
}

footer{
    display:flex;
    background-color: #17abb3;
}
li{
    list-style-type: square;
    color: #17abb3;
    
    
}
.text{
    color: black;
}